{% extends 'newsroom/base.html' %}

{% block content %}
    <div class="card">
        <h2>{% if incident %}Update Incident{% else %}Report Incident{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div style="color: #f88;">{{ field.errors }}</div>
                {% endif %}
            {% endfor %}
            <button class="button" type="submit">Save Incident</button>
        </form>
    </div>
{% endblock %}
